@media (max-width: 800px) {
    .grid-intro, .grid {
        grid-template-columns: 1fr;
    }
    .main-bg {
        background-image: url(../images/main-bg.svg);
        background-size: 100%;
    }
    .img-gallery {
        width: 100%;
        max-height: 100%;
        max-width: 100%;
    }
    .img-gallery img {
        width: 100%;
    } 
    .grid-one-content {
        display: block;
    }
    .menu {
        display: none;
        bottom: 0;
        text-align: center;
    }
    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }
    .menu-content {
        height: 100vh;
    }
    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 2.5rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        border: 0.01px solid var(--white-color);
    }
    /*x*/
    .close-menu:checked~.menu {
        display: block;
        
    }
    .close-menu:checked~.close-menu-label::after {
        content: 'x';
    }
    .menu-spacing {
        display: none;
    }
}
